/****** Script for SelectTopNRows command from SSMS  ******/
UPDATE Rents
SET RentDate = '2017-12-18 12:19:44.5613867'
WHERE ID = '21';


UPDATE Rents
SET ExpirationDate = '2017-12-18 15:19:44.5613867'
WHERE ID = '21';

SELECT * FROM Rents