@using Juliusz_Final.Controllers
<div align="center">
    <nav style="padding: 7px" class="bg-dark text-white">
        <a class="navbar-brand">SKI RENT APP - Strona Główna</a>
    </nav>
</div>
<div>
    <a style="margin: 5px" href="@Url.Action("Index", "Customer")" class="btn btn-primary">Klienci</a>
</div>
<div>
    <a style="margin: 5px" href="@Url.Action("Index", "Item")" class="btn btn-primary">Produkty</a>
</div>
<div>
    <a style="margin: 5px" href="@Url.Action("Index", "Category")" class="btn btn-primary">Kategorie</a>
</div>
<div>
    <a style="margin: 5px" href="@Url.Action("Index", "Rent")" class="btn btn-primary">Zamówienia</a>
</div>