@model string
@using Juliusz_Final.Controllers
<div align="center">
    <nav style="padding: 7px" class="bg-dark text-white">
        <a class="navbar-brand">SKI RENT APP - Strona Główna</a>
    </nav>
</div>

<div align="center" style="margin: 25%; margin-top: 10px">
    <h3>Witaj! Jest @Model.</h3>
    <div style="height: 25px"></div>
    <p>Znajdujesz się nas tronie służącej do wypożyczania sprzętu narciarskiego. Stroną można w prosty sposób zarządzać. Wystarczy kliknąć w odpowiedni przycisk, aby dodać produkt, klienta, kategorię, czy konkretne wypożyczenie. Dodając nowe wypożyczenie, wybieramy konkretnego klienta, następnie sprzęt, oraz czas wynajmu. Jeżeli chcemy zakończyć wypożyczenie, wystarczy kliknąć przycisk "ZWROT". Jeżeli sprzet został oddany ze spóźnieniem, wyświetli się odpowiedni komunikat.</p>
    <p>Baza danych aplikacji została zaprojektowana w taki sposób, aby w przyszłości rozwinąć stronę o nowe funkcjonalności. Zawiera ona dane takie, jak wartość sprzętu, oraz stan techniczny, co pozwoli na obliczenie ewentualnego kosztu zagubienia sprzętu. Zawiera także "mnożnik", co pozwoli obliczenie kosztu wynajmu danego sprzętu.</p>
</div>

