@using Juliusz_Final.Controllers
<div align="center">
    <nav style="padding: 7px" class="bg-dark text-white">
        <a class="navbar-brand">SKI RENT APP - Strona Główna</a>
    </nav>
</div>

<div align="center" style="margin: 25%; margin-top: 10px">
    <h2>Witaj na super stronie do wypożyczania super sprzętu narciarskiego!!!</h2>
    <div style="height: 25px"></div>
    <h3>Na górze znajduje się panel nawigacyjny do nawigowania tej super strony!</h3>
</div>

