
<div align="center">
    <nav style="padding: 7px" class="bg-dark text-white">
        <a class="navbar-brand">Nowe wypożyczenie</a>
    </nav>
</div>

<div style="margin: 10%; margin-top: 10px">
    <div class="row">
        <div class="col">
            <div class="float-left">
                <a style="margin: 5px; padding: 10px; padding-left: 50px; padding-right: 50px" href="@Url.Action("Index", "Home", FormMethod.Get)" class="btn btn-primary">Strona główna</a>
            </div>
            <div class="float-right">
                <a style="margin: 5px; padding: 10px; padding-left: 50px; padding-right: 50px" href="@Url.Action("Index", "Rent", FormMethod.Get)" class="btn bg-warning">Powrót</a>
            </div>
        </div>
    </div></div>
